.BlogPost-wrapper {
    aspect-ratio: 16/12;
    position: relative;
    padding: 10% 20px 20px;
    max-width: 55%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .header-blog {
        margin-bottom: 7rem;
        justify-content: center;
        gap: 28px;
        .navbar-content {
            .moon-nav {
                display: none;
            }
            .nav {
                &.active {
                    p {
                        color: black;
                    }
                }
                &:hover {
                    color: black;
                }
                a {
                    color: #d9d9d9;
                    text-decoration: none;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
    .BlogPostContent {
        height: 120vh;
        .title {
            display: flex;
            justify-content: center;
            margin-bottom: 0.88rem;
            h2 {
                text-align: center;
                color: var(--GoatHoof, #461F09);
                font-family: DM Serif Display;
                font-size: 3.1rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.15rem;
                text-transform: capitalize;
                position: relative;
            }
        }
        .static-page {
            position: sticky;
            position: -webkit-sticky;
            top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3.5rem;
            .topic {
                margin-bottom: 2.1rem;
                width: 55%;
                height: 1rem;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                text-align: center;
                .topic-name {
                    letter-spacing: 0.10rem;
                    margin-bottom: 0.5rem;
                    font-family: Walkway-Black;
                    font-size: 1.05rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                    color: #000;
                    background: transparent;
                }
            }
            .scrolled-content {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 55%;
                .content {
                    display: inline-flex;
                    height: 80vh;
                    flex-direction: column;
                    align-items: center;
                    border: 1px solid #D0D0D0;
                    overflow: hidden;
                    border-radius: 5px;
                    .paragraphs {
                        scroll-behavior: smooth;
                        padding: 1.5rem;
                        height: 100%;
                        transition: 1.2s ease;
                        -ms-overflow-style: none; //IE AND EDGE
                        scrollbar-width: none;  //FIREFOX
                        &:hover {
                            box-shadow: inset 0px 15px 23px -14px rgba(0, 0, 0, 0.3);
                        }
                        .paragraph {
                            color: var(--black-color);
                            // font-family: walkway-Bold;
                            font-family: 'Open Sans', sans-serif;
                            // letter-spacing: 0.06rem;
                            font-style: normal;
                            font-size: 1.02rem;
                            font-weight: 400;
                            line-height: normal;
                            margin-bottom: 3rem;
                            background: transparent;
                        }
                        &::-webkit-scrollbar {
                            display: none;  //CHROME, SAFARI, OPERA
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1440px) {
        .BlogPostContent {
          .static-page{
            .scrolled-content{
                max-width: 750px;
            }
          }
        }
    }
}
.backToBlog-wrapper {
    margin-top: 2.5rem;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    p {
        color: #9C9C9C;
        font-family: Walkway-Black;
        font-size: 0.53438rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.04544rem;
        span {
            color: #636363;
        }
    }
    .link {
        width: 100%;
        cursor: default;
        .button-to-blog {
            margin: 2.5rem 0 1rem 0;
            border: 1px solid #D8D8D8;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                background: transparent;
            }
            &:hover {
                background: #F6F6F6;
            }
            &:active {
                background: #E7E7E7;
            }
        }
    }
}